// Cards
.card {
    background-color: #fff;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 5px;
    padding-left: 20px;
    display: block;
  }

  .card:hover {
    transform: scale(1.1);
    transition: transform 1s;
  }
  
  .text-container {
    float: left;
  }
  p{
    padding: 0 25px 5px 20px;
    margin: 0;
    color: rgb(172, 172, 172);
  }
  h2{
    margin: 0;
    padding: 20px 0 5px 20px;
    @include mq($md){
      padding: 40px 0 5px 20px;
    }
  }

// Images
main img{
    margin: 20px 0  20px 5px;
    border-radius: 50%;
    float: left;
    height: 45px;
    @include mq($md){
      height: 90px;
    }
    @include mq($lg){
      height: 85px;
    }
  }
  .modal img {
    border-radius: 50%;
  }

  .avatar {
    border-radius: 50%;
  }