body{
    font-family: 'Open Sans', sans-serif;
  }
  .title{
    font-size: 0.5em;
    padding: 15px 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    @include mq($md){
      font-size: 0.8em;
      text-align: left;
      padding-left: 15px;
    }
  }
  h2{
    font-size: 0.7em;
    @include mq($md){
      font-size: 1.1em;
    }
    @include mq($lg){
      font-size: 1em;
    }
  }
  p{
    font-size: 0.6em;
    @include mq($md){
      font-size: 0.6em;
    }
    @include mq($lg){
      font-size: 0.5em;
    }
  }